# Projection Accuracy Analysis

Import Libraries & Data

In [6]:
import numpy as np
import pandas
import datetime

In [7]:
df = pandas.read_csv('data/Latest_Conversion_File_2.csv')

In [8]:
def projection_accuracy(data):
    data.index = pandas.to_datetime(data['Date opportunity start'])
    df1 = data['EP ID'].resample('M').count()
    data.index = pandas.to_datetime(data['Date realized'])
    df2 = data['EP ID'].resample('M').count()
    df3 = pandas.concat([df1,df2,round((df2/df1)*100,2)], axis=1)
    df3.columns = ['Projection Count', 'Real Count', 'Accuracy of Projection']
    print('\nAverage Accuracy of Projection is ' + str(round(df3['Accuracy of Projection'].mean(),2)) + '%.\n')
    return df3

# Generate Output

Throughout the generation of the report we will be filtering by each product and then generate the analysis for the whole and per product.

## Total

In [9]:
projection_accuracy(df)

Average Accuracy of Projection is 61.56%.

            Projection Count  Real Count  Accuracy of Projection
2016-12-31                 1         NaN                     NaN
2017-01-31                 0         NaN                     NaN
2017-02-28                 0         NaN                     NaN
2017-03-31                 0         NaN                     NaN
2017-04-30                 0         NaN                     NaN
2017-05-31                 0         NaN                     NaN
2017-06-30                 0         NaN                     NaN
2017-07-31                 0         NaN                     NaN
2017-08-31                 2         NaN                     NaN
2017-09-30                 2         NaN                     NaN
2017-10-31                 0         NaN                     NaN
2017-11-30                 1         NaN                     NaN
2017-12-31                 2         NaN                     NaN
2018-01-31                22         NaN                     NaN
2018-02-28                21         NaN                     NaN
2018-03-31                42         NaN                     NaN
2018-04-30                17         NaN                     NaN
2018-05-31                53         NaN                     NaN
2018-06-30                65         NaN                     NaN
2018-07-31               130         NaN                     NaN
2018-08-31               367       226.0                   61.58
2018-09-30               720       485.0                   67.36
2018-10-31               966       622.0                   64.39
2018-11-30              1464       786.0                   53.69
2018-12-31              3233      2303.0                   71.23
2019-01-31              7018      5344.0                   76.15
2019-02-28              1981       724.0                   36.55
2019-03-31              1074         NaN                     NaN
2019-04-30               546         NaN                     NaN
2019-05-31               923         NaN                     NaN
2019-06-30              2782         NaN                     NaN
2019-07-31              3338         NaN                     NaN
2019-08-31               588         NaN                     NaN
2019-09-30               137         NaN                     NaN
2019-10-31                73         NaN                     NaN
2019-11-30               133         NaN                     NaN
2019-12-31               635         NaN                     NaN
2020-01-31               433         NaN                     NaN
2020-02-29                44         NaN                     NaN
2020-03-31                 2         NaN                     NaN
2020-04-30                 3         NaN                     NaN
2020-05-31                 5         NaN                     NaN
2020-06-30                 7         NaN                     NaN
2020-07-31                21         NaN                     NaN
2020-08-31                 3         NaN                     NaN
2020-09-30                 0         NaN                     NaN
2020-10-31                 0         NaN                     NaN
2020-11-30                 2         NaN                     NaN
2020-12-31                12         NaN                     NaN

## Global Volunteer

In [10]:
df_gv = df.loc[df['Product'] == 'GV']
projection_accuracy(df_gv)

Average Accuracy of Projection is 59.4%.

            Projection Count  Real Count  Accuracy of Projection
2016-12-31                 1         NaN                     NaN
2017-01-31                 0         NaN                     NaN
2017-02-28                 0         NaN                     NaN
2017-03-31                 0         NaN                     NaN
2017-04-30                 0         NaN                     NaN
2017-05-31                 0         NaN                     NaN
2017-06-30                 0         NaN                     NaN
2017-07-31                 0         NaN                     NaN
2017-08-31                 0         NaN                     NaN
2017-09-30                 1         NaN                     NaN
2017-10-31                 0         NaN                     NaN
2017-11-30                 1         NaN                     NaN
2017-12-31                 1         NaN                     NaN
2018-01-31                19         NaN                     NaN
2018-02-28                20         NaN                     NaN
2018-03-31                42         NaN                     NaN
2018-04-30                 8         NaN                     NaN
2018-05-31                45         NaN                     NaN
2018-06-30                46         NaN                     NaN
2018-07-31                52         NaN                     NaN
2018-08-31               205       130.0                   63.41
2018-09-30               399       251.0                   62.91
2018-10-31               555       312.0                   56.22
2018-11-30              1017       475.0                   46.71
2018-12-31              2508      1923.0                   76.67
2019-01-31              6069      4571.0                   75.32
2019-02-28              1535       531.0                   34.59
2019-03-31               763         NaN                     NaN
2019-04-30               406         NaN                     NaN
2019-05-31               797         NaN                     NaN
2019-06-30              2551         NaN                     NaN
2019-07-31              3151         NaN                     NaN
2019-08-31               549         NaN                     NaN
2019-09-30               115         NaN                     NaN
2019-10-31                69         NaN                     NaN
2019-11-30               131         NaN                     NaN
2019-12-31               623         NaN                     NaN
2020-01-31               409         NaN                     NaN
2020-02-29                42         NaN                     NaN
2020-03-31                 2         NaN                     NaN
2020-04-30                 3         NaN                     NaN
2020-05-31                 4         NaN                     NaN
2020-06-30                 7         NaN                     NaN
2020-07-31                21         NaN                     NaN
2020-08-31                 3         NaN                     NaN
2020-09-30                 0         NaN                     NaN
2020-10-31                 0         NaN                     NaN
2020-11-30                 2         NaN                     NaN
2020-12-31                12         NaN                     NaN

## Global Talent

In [11]:
df_gt = df.loc[df['Product'] == 'GT']
projection_accuracy(df_gt)

Average Accuracy of Projection is 68.74%.

            Projection Count  Real Count  Accuracy of Projection
2017-08-31                 2         NaN                     NaN
2017-09-30                 1         NaN                     NaN
2017-10-31                 0         NaN                     NaN
2017-11-30                 0         NaN                     NaN
2017-12-31                 1         NaN                     NaN
2018-01-31                 3         NaN                     NaN
2018-02-28                 1         NaN                     NaN
2018-03-31                 0         NaN                     NaN
2018-04-30                 9         NaN                     NaN
2018-05-31                 6         NaN                     NaN
2018-06-30                15         NaN                     NaN
2018-07-31                52         NaN                     NaN
2018-08-31               122        77.0                   63.11
2018-09-30               238       185.0                   77.73
2018-10-31               280       248.0                   88.57
2018-11-30               299       234.0                   78.26
2018-12-31               245       151.0                   61.63
2019-01-31               390       278.0                   71.28
2019-02-28               256       104.0                   40.62
2019-03-31               165         NaN                     NaN
2019-04-30                56         NaN                     NaN
2019-05-31                31         NaN                     NaN
2019-06-30                34         NaN                     NaN
2019-07-31                16         NaN                     NaN
2019-08-31                10         NaN                     NaN
2019-09-30                10         NaN                     NaN
2019-10-31                 1         NaN                     NaN
2019-11-30                 1         NaN                     NaN
2019-12-31                 1         NaN                     NaN
2020-01-31                 0         NaN                     NaN
2020-02-29                 1         NaN                     NaN
2020-03-31                 0         NaN                     NaN
2020-04-30                 0         NaN                     NaN
2020-05-31                 1         NaN                     NaN

## Global Entrepreneur

In [12]:
df_ge = df.loc[df['Product'] == 'GE']
projection_accuracy(df_ge)

Average Accuracy of Projection is 55.57%.

            Projection Count  Real Count  Accuracy of Projection
2018-05-31                 2         NaN                     NaN
2018-06-30                 4         NaN                     NaN
2018-07-31                26         NaN                     NaN
2018-08-31                40        19.0                   47.50
2018-09-30                83        49.0                   59.04
2018-10-31               131        62.0                   47.33
2018-11-30               148        77.0                   52.03
2018-12-31               480       229.0                   47.71
2019-01-31               559       495.0                   88.55
2019-02-28               190        89.0                   46.84
2019-03-31               146         NaN                     NaN
2019-04-30                84         NaN                     NaN
2019-05-31                95         NaN                     NaN
2019-06-30               197         NaN                     NaN
2019-07-31               171         NaN                     NaN
2019-08-31                29         NaN                     NaN
2019-09-30                12         NaN                     NaN
2019-10-31                 3         NaN                     NaN
2019-11-30                 1         NaN                     NaN
2019-12-31                11         NaN                     NaN
2020-01-31                24         NaN                     NaN
2020-02-29                 1         NaN                     NaN

# Support Functions

These are additional functions that enable us to keep complying with the DRY Principle and not repeat ourselves every now and then.